.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    padding: 15px;
}

.form__newTask {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 15px;
    border: 2px solid rgb(232, 232, 231);
}

.form__button {
    background-color: teal;
    height: 40px;
    color: white;
    border: none;
    padding: 10px;
    font-weight: lighter;
}