.list {
    list-style: none;
    margin: 0px;
}

.list__item {
    border-bottom: 2px solid rgb(232, 232, 231);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin: 0px 15px 0px 15px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__item--hidden {
    display: none;
}

.list__button {
    color: white;
    height: 30px;
    width: 30px;
    border: none;
    transition: 1s;
}

.list__button--done {
    background-color: green;
    text-align: center;
    margin-right: 10px;
}

.list__button--done:hover {
    background-color: rgb(0, 182, 0);
    cursor: pointer;
}

.list__button--done:active {
    background-color: rgb(0, 92, 0);
}

.list__button--remove {
    background-color: red;
    text-align: center;
    margin-left: 10px;
}

.list__button--remove:hover {
    background-color: rgb(187, 2, 2);
    cursor: pointer;
    transform: rotate(180deg);
}

.list__button--remove:active {
    background-color: rgb(252, 0, 0);
}