.section {
    border: 2px solid rgb(232, 232, 231);
    background-color: white;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .section {
        width: 90%;
        margin: 0px auto;
    }
}

.section_header {
    padding: 15px;
    border-bottom: 2px solid rgb(232, 232, 231);
    margin: 0;
}

.section_tasks {
    list-style: none;
    padding: 15px 0px 0px 0px;
}