.section {
    border: 2px solid rgb(232, 232, 231);
    background-color: white;
    margin-bottom: 5px;
}

.section_header {
    padding: 15px;
    border-bottom: 2px solid rgb(232, 232, 231);
    margin: 0;
}

.section_tasks {
    list-style: none;
}