html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: rgb(237, 237, 237);
    font-family: 'Montserrat', sans-serif;
    margin: 40px auto;
    max-width: 750px;
    word-break: break-word;
}