html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: rgb(237, 237, 237);
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    word-break: break-word;
}